@import "../../../../vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

/* Body */
body.fi-body {
    @apply bg-slate-50;
}

/* Sidebar */
.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.fi-sidebar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

aside.fi-sidebar {
    @apply bg-gradient-to-b from-blue-500 to-blue-600 dark:bg-gradient-to-b dark:from-gray-800 dark:to-gray-900;

    & .fi-sidebar-nav-groups {
        @apply gap-y-3;
    }

    & .fi-sidebar-nav {
        @apply px-4 pt-4;
        & li.fi-sidebar-item {
            & .fi-sidebar-item-label,
            .fi-sidebar-item-icon {
                @apply text-gray-100;
            }
        }

        & li.fi-sidebar-item-active,
        li.fi-sidebar-item:hover {
            & .fi-sidebar-item-label,
            .fi-sidebar-item-icon {
                @apply text-blue-800 dark:text-blue-500;
            }
        }

        & .fi-sidebar-group-button span,
        button {
            @apply text-white dark:text-blue-300;
        }
    }

    /* Sidebar Header */
    header.fi-sidebar-header {
        @apply bg-blue-500 dark:bg-gray-900;

        & .fi-logo,
        .fi-icon-btn {
            @apply text-white;
        }
    }
}

/* Table */
table.fi-ta-table {
    /* Tabel Header */
    & thead tr {
        @apply bg-gradient-to-br from-blue-500 to-blue-600 dark:bg-gradient-to-br dark:from-gray-700 dark:to-gray-800;

        & th span {
            @apply text-white;
        }
    }

    /* Tabel Body */
}

/* Widgets */
.fi-wi-stats-overview-header {
    @apply hidden;
}
